*
{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Neris_sb;
    src: url(fonts/Neris-SemiBold.otf);
}
@font-face {
    font-family: Neris;
    src: url(fonts/Neris-Black.otf);
}
@font-face {
    font-family: Neris_light;
    src: url(fonts/Neris-Light.otf);
}
@font-face {
    font-family: Neris_thin;
    src: url(fonts/Neris-Thin.otf);
}
#main
{
    margin: 0 auto;
}
#header
{
    width: 100%;
    height: 600px;
    background-image: url("img/header_bg.png");
    background-size: cover;
    color: white;
}
#logo
{
    font-family: Neris;
    font-size: 24pt;
    position: absolute;
    text-align: left;
    margin: 50px 0 0  110px ;
}
#logo:first-letter
{
    text-decoration: none;
    border-bottom: solid 4px #e8432e;
}
#descript
{
    position: absolute;
    font-family: Neris_sb;
    font-size: 40pt;
    margin: 150px 0 0 110px;
}
#arrow_down
{
    float: left;
    display: inline-block;
    position: relative;
    margin: 460px 0 0 110px;
}
#button_desc
{
    color: white;
    margin: 475px 0 0 180px;
    position: absolute;
    font-family: Neris_sb;
    font-size: 16pt;
}
#under_header
{
    border: 0;
    border-bottom: solid 4px #e8432e;
}
.welcome
{
    width: 100%;
    height: 480px;

}
.welcome h2
{
    margin: 100px 0 0 110px;
    font-family: Neris;
}
.welcome h2:first-letter
{
    text-decoration: none;
    border-bottom: solid 4px #e8432e;
}
.welcome h3
{
    font-family: Neris_light;
    display: inline-block;
    width: 150px;
    margin: 20px 0 0 0;
}
.welcome img
{
    margin: 20px 10px 0 50px;
}
.welcome img:first-of-type
{
    margin: 20px 10px 0 400px;
}
#description
{
    font-family: Neris_thin !important;

    margin: 20px 0 0 110px;
}
#description h3
{
    display: inline-block;
    width: 250px;
}
#description p
{
    margin: 20px 0 0 35px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}


