
@font-face
{
    font-family: 'Open Sans', sans-serif;
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face
{
    font-family: 'Lora';
    src: url("../fonts/Lora-Italic.ttf");
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.lora
{
    font-family: Lora;
    color: #ffb600;
}
h4
{
    color: white;
    display: inline-block;
}
h1
{
    font-family: Lora;
    color: white;
}
h5
{
    font-family: 'Open Sans', sans-serif;
}
body
{
    background: #292c34;
    height: 500px;
}
.header
{
    padding-left: 5%;
    padding-top: 20px;
    height: 90px;
    background: #24242c;
}
.header img
{
    height: 60px;
    display: inline-block;
}
.large_div
{
    padding-top: 10%;
    text-align: center;
    background-size: cover;
    background: url("../img/big_pic.png");
    height: 450px;
}
.large_div a
{
    margin-top: 20px;
    padding-top: 4px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #5e5e5e;
    border: 1px solid white;
    border-radius: 10px;
}
a:hover
{
    text-decoration: none;
}
#slideshow{

    padding: 0;
    background-color:white;
    height:550px;
    position:relative;
    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;
}

#slideshow ul{
    overflow:hidden;
    padding-left: 0;
    text-align: center;
    padding-top: 30px;
    list-style:none outside none;

}

#slideshow li{
    display:none;
    z-index:10;
}

#slideshow li:first-child{
    display:block;
    z-index:1000;
}

#slideshow .slideActive{
    z-index:1000;
}

#slideshow canvas{
    display:none;
    z-index:100;
}

#slideshow .arrow{
    height:86px;
    width:60px;
    position:absolute;
    background:url('../img/arrows.png') no-repeat;
    top:50%;
    margin-top:-43px;
    cursor:pointer;
    z-index:5000;
}

#slideshow .previous{ background-position:left top;left:0;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;}
#slideshow .next:hover{ background-position:right bottom;}


/* The following styles are only used for the styling of the demo page */
.feature_head
{
    height: 100%;
}
.feature_head h1
{
    text-align: center;
    font-family: Lora;
    
}
.ft_bg
{
    background: #47474e;
}
.feature
{
    text-align: center;
    color: white;
    display: inline-block;
}
.feature p
{
    margin-top: 10px;
}
.contacts
{
    background: #24242c;
    text-align: center;
}
.contacts h3
{
    color: white;
}
.contacts a
{
    font-size: 14pt;
    text-decoration: none;
}
.contacts a:hover
{
    text-decoration: none;
    font-family: Lora;
    color: #ffb600;
}

