
@font-face
{
    font-family: 'Open Sans', sans-serif;
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face
{
    font-family: 'Lora';
    src: url("../fonts/Lora-Italic.ttf");
}
a
{
    text-decoration: none;
}

.lora
{
    font-family: Lora;
    color: #ffb600;
}
h4
{
    color: white;
    display: inline-block;
}
h1
{
    font-family: Lora;
    color: white;
}
h5
{
    font-family: 'Open Sans', sans-serif;
}
body
{
    background: #292c34;
    height: 500px;
}
.header
{
    padding-left: 5%;
    padding-top: 20px;
    height: 90px;
    background: #24242c;
}
.header img
{
    height: 60px;
    display: inline-block;
}
.large_div
{
    padding-top: 10%;
    text-align: center;
    background-size: cover;
    background: url("../img/big_pic.png");
    height: 450px;
}
.large_div a
{
    margin-top: 20px;
    padding-top: 8px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: inline-block;
    width: 120px;
    height: 40px;
    background: #5e5e5e;
    border: 1px solid white;
    border-radius: 10px;
}
a:hover
{
    text-decoration: none;
}
/*slider*/
#slideshow
{
    text-align: center;
    background: #47474e;
}
.slider{

    width: 640px; /*Same as width of the large image*/

    position: relative;
    /*Instead of height we will use padding*/
    padding-top: 320px; /*That helps bring the labels down*/
    margin: 10px auto;
    /*Lets add a shadow*/
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
    position: absolute;
    left: 0; top: 0;
    transition: all 0.5s;
}

.slider input[name='slide_switch'] {
    display: none;
}

.slider label {
    /*Lets add some spacing for the thumbnails*/
    margin: 18px 0 0 18px;
    border: 3px solid #999;

    float: left;
    cursor: pointer;
    transition: all 0.5s;

    /*Default style = low opacity*/
    opacity: 0.6;
}

.slider label img{
    display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
    border-color: #666;
    opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
    opacity: 0;
    transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
    opacity: 1;
    transform: scale(1);
}

/* slider */
.feature_head
{
    height: 100%;
}
.feature_head h1
{
    text-align: center;
    font-family: Lora;
    
}
.ft_bg
{
    background: #47474e;
}
.feature
{
    text-align: center;
    color: white;
    display: inline-block;
}
.feature p
{
    margin-top: 10px;
}
.contacts
{
    background: #24242c;
    text-align: center;
}
.contacts h3
{
    color: white;
}
.contacts a
{
    font-size: 14pt;
    text-decoration: none;
}
.contacts a:hover
{
    text-decoration: none;
    font-family: Lora;
    color: #ffb600;
}


