* {
    margin: 0;
    padding: 0;
    outline: none !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a,
a:hover{
    color: #337ab7;
    text-decoration: none;
}

/*404*/
.message404{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.pic404 {
    display: block;
    margin: 0 auto;
    width: 100vw;
    /*height: 75vh;*/
}
.sub_message404{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}

/*All pgs, app.blade.php*/
.navbar-brand{
    padding: 10px 15px;
}
.navbar_logo{
    height: 30px;
}
.user_corner_avatar {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

a.dropdown-toggle {

    min-width: 160px;
}

.video_thumbnail:hover{
    transform: scale(1.02);
    opacity: 0.8;
}
.video_link{
    width: 100%;
    text-align: center;
}

/*add-video pg*/
#video_add_div input[type="file"] {

    display: none; /* hide input file */

}


/*block with errors, all pgs*/

.alert-danger {
    padding: 15px 30px;
    margin: 0 auto 20px;
    width: 80%;
}

/*Home pg*/

.updates_title_home{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 0;
}
.panel-heading{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}

.user_avatar {
    height: 150px;
    width: 150px;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 20px;

}

.user_avatar + h3 {
    vertical-align: top;
    display: inline-block;
}

.video_thumbnail{
    height: 180px;
    width: 280px;
    margin: 0 auto;
    display: block;
}

/*Video player page*/
.video_player_container {
    margin: 30px auto;
    max-width: 750px;
    font-family: 'Raleway', sans-serif;
    color: #337ab7;
}
.video_author{
    margin-top: 15px;
    border-bottom:1px solid #dedede; ;
}
.small_user_avatar{
    height:50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.textarea_comment{
    width:100%;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    margin:  5px auto;
    resize: none;
}
.comment_body{
    margin-left: 55px;
}
.comment_cont{
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
}
.comment_author{
    vertical-align: middle;
    font-weight: 600;
}
.comment_cont span{
    font-family: 'Raleway', sans-serif;
}
.comment_cont .comment_date{
    float: right;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 0.7em;
    font-weight: 200;
    vertical-align: bottom;
}

/*Welcome page*/
.video_descript_welcome,
.welcome_tittle{
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    color: #777;
    text-align: center;
}


