* {
    margin: 0;
    padding: 0;
    outline: none !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a,
a:hover{
    color: #337ab7;
    text-decoration: none;
}

/*404*/
.message404{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.pic404 {
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
}

/*All pgs*/
.user_corner_avatar {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}

a.dropdown-toggle {

    min-width: 160px;
}

/*add-video pg*/
#video_add_div input[type="file"] {

    display: none; /* hide input file */

}



/*block with errors, all pgs*/

.alert-danger {
    padding: 15px 30px;
    margin: 0 auto 20px;
    width: 80%;
}

/*Home pg*/
.last_updates_home_cont{
    text-align: center;

}
.last_video_home{

}

.user_avatar {
    height: 150px;
    width: 150px;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 20px;

}

.user_avatar + h3 {
    vertical-align: top;
    display: inline-block;
}

.home_thumbnail{
    height: 180px;
    width: 240px;
}

/*Video player page*/
.video_player_container {
    margin: 30px auto;
    max-height: 420px;
    max-width: 750px;
    font-family: 'Raleway', sans-serif;
    color: #337ab7;

}

.video_player {
    max-width: 750px;
    max-height: 420px;
}

