* {
    margin: 0;
    padding: 0;
    outline: none !important;
}
/*add-video pg*/
#video_add_div input[type="file"] {

    display: none; /* hide input file */

}

/* make styles for upload button*/

#video_add_div {

    margin-left: 15px;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 34px;
    background: #337ab7;
    border-radius: 5px;
    color: #fff;
    text-align: center;

}

#video_add_div:hover {

    background: #286090;

}

/* Stretch label the entire block region .file-upload */

#video_add_div label {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

/* text in block*/

#video_add_div span {

    line-height: 34px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-weight: bold;*/

}

/*Name of file div on add-video page */

#file-name{
    margin:5px 0 0 20px;
}


/*block with errors, all pgs*/

.alert-danger{
    padding: 15px 30px;
    margin: 0 auto 20px;
    width: 80%;
}

a.dropdown-toggle{
    width:160px;
}


/*Home pg*/
.last_updates_ul{
    margin-left: 15px;
    list-style: none;
}
.last_updates_li{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}