*
{
    margin: 0;
    padding: 0;
    font-size: 12pt;
}
::-webkit-input-placeholder {color:white;}
::-moz-placeholder          {color:white;}
:-moz-placeholder           {color:white;}
:-ms-input-placeholder      {color:white;}

@font-face {
    font-family: Roboto Regular;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto med;
    src: url(fonts/Roboto-Medium.ttf);

}
@font-face{
    font-family: angel face;
    src: url(fonts/Angelface.otf);
}
@font-face {
    font-family: pinyon scrip;
    src: url(fonts/PinyonScript-Regular.ttf);
}
@media only screen and (min-width: 1024px) {

}
@font-face {
    font-family: roboto light ital;
    src: url(fonts/Roboto-LightItalic.ttf);
}
#header
{
    position: absolute;
    height: 700px;
    width: 100%;
    background-image: url("images/big_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#navigation ul
{

    margin-left: 400px;
    margin-top: 20px;
}
#navigation ul li
{
    margin-left: 30px;
    display: inline-block;
}
#navigation ul li a
{
    text-decoration: none;
    color: white;
    font-family: "roboto med";
    font-size: 10pt;
    padding: 10px 20px;
    border: hidden white 1px;
    height: 39px;
}

#navigation ul li :hover
{
    border: solid white 1px;
    border-radius: 5px;

}

#primavera
{
    margin-top: 100px;
    color: white;
    font-family: "angel face";
    font-size: 200px;
    text-align: center;
}
#singular
{
    display: inline-block;
    margin-top: -50px;
    text-align: center;
    font-family: "Roboto Regular";
    font-size: 10pt;
    color: white;
}
hr{

    display: inline-block;
    margin: 0 30px;
    width: 100px;

}
#hr1
{
    margin-left: 450px;
}
#social
{
    margin-top: 40px;
    margin-left: 610px;
    height: 33px;
    width: 110px;
}
.socialIcon
{
    width: 33px;
    height: 33px;
    background: url("images/social_icon.png") no-repeat;
    display: inline-block;
}
.facebook
{
    width: 33px;
    background-position: 0 0;
}
.twitter
{
    background-position: -35px 0;
}
.gplus
{
    background-position: -69px 0;
}
#arrow_cont
{
    position: relative;
    display: block;
    margin-left: 660px;
    margin-top: 100px;
    width: 50px;
    height: 50px;
    border: solid white 1px;
    border-radius: 5px;
}
.diamond
{
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;

}
#arrow_down
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 16px;
    margin-top: 15px;


}
#arrow_cont:hover
{
    background-color: #ac5348;
    background-size: cover;

}
#arrow_link
{
    width: 50px;
    height: 50px;
}
#restaurant
{
    width: 100%;
    position: absolute;
    margin-top: 800px;
    height: 1000px;
    text-align: center;
}

.section_name {

    font-family: "pinyon scrip";
    font-size: 50pt;
    color: #a84a3e;
}
.rest_article
{
    font-size: 12pt !important;
    font-family: "roboto light ital" !important;
    color: #818181 !important;
    margin-top: 50px;
}
#dish_diamond
{
    display: inline-block;
    width: 130px;
    height: 130px;
    border: solid black 2px;
    border-radius: 7px;
    position: relative;
    margin-top: 100px;
    margin-left: 150px;
}
#dish_diamond img
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 12px;
    margin-top: 12px;
}
#cofee_diamond
{
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    border: solid black 2px;
    border-radius: 7px;
    margin-left: 250px;
    margin-top: 100px;
}
#cofee_diamond img
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 12px;
    margin-top: 12px;
}
#spice_diamond
{
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    border: solid black 2px;
    border-radius: 7px;
    margin-left: 250px;
    margin-top: 100px;
}
#spice_diamond img
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 12px;
    margin-top: 12px;
}
#dish_diamond p
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 50px;
    display: none;
}
#dish_diamond:hover
{
    background-color:#a84a3e;
    border: solid #a84a3e 2px;;

}
#dish_diamond:hover img
{
    opacity: 0.5;
}
#dish_diamond:hover p
{
    display: block;
}
#cofee_diamond p
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 50px;
    display: none;
}
#cofee_diamond:hover
{
    background-color:#a84a3e;
    border: solid #a84a3e 2px;

}
#cofee_diamond:hover img
{
    opacity: 0.5;
}
#spice_diamond p
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 50px;
    display: none;
}
#spice_diamond:hover
{
    background-color:#a84a3e;
    border: solid #a84a3e 2px;

}
#spice_diamond:hover img
{
    opacity: 0.5;
}
#rest_photos
{
    margin-top: 100px;
    margin-left: 100px;
    display: inline-block;
}
#rest_photos img
{
    margin: 5px;
    float: left;
    position: relative;

}
#reservation
{
    width: 100%;
    position: absolute;
    margin-top: 1900px;
    height: 600px;
    text-align: center;
    background-image: url("images/reservation_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#reserv_name
{
    margin-top: 60px;
    font-family: "pinyon scrip";
    font-size: 50pt;
    color: white;
}
.telephone
{
    margin: 0 50px;
    display: inline-block;
    text-align: center;
    font-family: "Roboto Regular";
    font-size: 24pt;
    color: white;
}
#tele_logo
{
    margin-top: 50px;
    width:85px;
    height:85px;
    display:inline-block;
    border-radius:45px;
    -moz-border-radius:45px;
    -webkit-border-radius:45px;
    -khtml-border-radius:45px;
    line-height:100px;
    background:#a84a3e;
}
#reserv_form
{
    margin-top: 50px;
}
#input_name
{
    margin-left: 7px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    -webkit-appearance: none;
    width: 200px;
    vertical-align: middle;
}
#input_date
{
    margin-left: 7px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    -webkit-appearance: none;
    width: 200px;
    vertical-align: middle;

}

#input_time
{
    margin-left: 7px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    -webkit-appearance: none;
    width: 200px;
    vertical-align: middle;
}
.input
{
    display: inline-block;
    height: 30px;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 5px;
    border-style: ridge;
    color: white;
}
.input img
{
    height: 10px;
    margin-top: 4px;
    margin-right: 5px;
}
#reserv_butt
{
    display: inline-block;
    height: 50px;
    width: 170px;
    border: solid 2px #a84a3e;
    border-radius: 10px;
    margin-top: 60px;
    color: white;
    font-size: 12pt;
    font-family: "Roboto Regular";

}
#reserv_butt a
{
    display: block;
    height: 100%;
    text-decoration: none;
    color: white;
    line-height: 3em;
    vertical-align: middle;
}
#ivents
{
    position: absolute;
    margin-top: 2550px;
    width: 100%;
    height: 780px;
    text-align: center;
}
#ivents_cont
{
    font-size: 5pt;
    font-family: "Roboto Regular";
    width: 1120px;
    position: relative;
    margin: auto;
    height: 540px;
    text-align: center;
    margin-top: 120px;
}
#ivent1
{
    width: 370px;
    display: inline-block;
}
#ivent2
{
    width: 370px;
    display: inline-block;
}
#ivent3
{
    width: 370px;
    display: inline-block;
}
#footer
{
    margin-top: 3400px;
    position: absolute;
    width: 100%;
}

#navigation_foot ul
{
    margin-left: 400px;

}
#navigation_foot ul li
{
    margin-left: 30px;
    display: inline-block;
}
#navigation_foot ul li a
{
    text-decoration: none;
    color: #818181;
    font-family: "roboto med";
    font-size: 10pt;
    padding: 10px 20px;
    border: hidden white 1px;
    height: 39px;
}

#navigation_foot ul li :hover
{
    color: #a84a3e;

}
#social_foot
{
    position: relative;
    margin-top: 40px;
    margin-left: 610px;
    height: 33px;
    width: 110px;
}
.socialIcon_foot
{
    width: 33px;
    height: 33px;
    background: url("images/social_icon_foot.png") no-repeat;
    display: inline-block;
}
.facebook_foot
{
    width: 33px;
    background-position: 0 0;
}
.twitter_foot
{
    background-position: -48px 0;
}
.gplus_foot
{
    background-position: -96px 0;
}












